<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/landing.css">
    <title>Yelp</title>
</head>
<body>

    <div class="container">

        <% if(error && error.length > 0){%>

            <div class="alert alert-danger" role='alert'>
                <%= error %>
            </div>

        <%} %>

        <% if(success && success.length > 0){%>

            <div class="alert alert-danger" role='alert'>
                <%= success %>
            </div>

        <%} %>

        <div id="landing-header">
            <h1>Welcome to LuxLust</h1>

            <a href="/locations" class="btn btn-lg btn-primary">
                View all Locations
            </a>
        </div>
      
    </div>

    <ul class="slide-show">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>

    </ul>


    
</body>
</html>