<% include ./partials/header %>
<div class="container">
    
    <h1 class="text-center">Register Here</h1>

    <div class="form-layout">
        <form action="/register" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" 
                name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" 
                name="password" placeholder="password">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">submit</button>
            </div>
            <a href="/locations">Go Back</a>

        </form>
    </div>
    

</div>
<% include ./partials/footer %>